<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="<%= RELATIVE_PATH %>" class="header-logo">
				<img src="<%= RELATIVE_PATH %>img/common/footer-logo.svg" alt="3CGROUP">
			</a>
			<div class="footer-ct"></div>
		</div>
	</div>
</footer>