<header id="header">
	<div class="inner">
		<a href="<%= RELATIVE_PATH %>" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/common/header-logo.svg" alt="3CGROUP">
		</a>
		<nav class="header-nav">
			<ul class="header-nav__menu">
				<li class="header-nav__menu-item">
					<a href="">Về 3C</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Tin Tức</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="" class="header-nav__menu-has">Sản phẩm</a>
					<span class="header-nav__sub"></span>
					<ul class="header-nav__submenu">
						<li><a href="">Trò chơi trực tuyến</a></li>
						<li><a href="">Giải pháp công nghệ</a></li>
					</ul>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Đội ngũ</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Tuyển dụng</a>
				</li>
				<li class="header-nav__menu-item">
					<a href="">Liên hệ</a>
				</li>
			</ul>
		</nav>
		<div class="header-note">
			<div class="header-search">
				<span class="header-search__open">
					<img src="<%= RELATIVE_PATH %>img/common/icon-search.svg" alt="search">
				</span>
			</div>
			<div class="header-language">
				<span class="header-language__curent">VI</span>
				<ul class="header-language__list">
					<li><a href="">EN</a></li>
					<li><a href="">CHI</a></li>
				</ul>
			</div>
		</div>
	</div>
	<span class="js-mobile">
		<span></span>
	</span>
</header>