<main class="page-<%= pageData.template %>">
	<section class="top-mv">
		<div class="inner">
			<div class="mv-block">
				<h1 class="mv-block__logo c-fc--green">3C GROUP</h1>
				<h2 class="mv-block__ttl">Công nghệ làm thay đổi thế giới</h2>
				<a href="" class="c-btn__01">
					<span>Tìm hiểu thêm</span>
				</a>
			</div>
		</div>
	</section>
</main>